<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://192.8.19.17:8080/view/APD/job/APD-iPhone-trunk/lastSuccessfulBuild/artifact/output/APD-v3.0.01-b267-r413-Release-Debug-Dev-Log.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://x5.justep.com/apps/x5.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://x5.justep.com/apps/x5.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.expai.apdnews</string>
				<key>bundle-version</key>
				<string>3.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>apd App download</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
